{% extends 'projects/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}

{% block content %}
    <section class="intro">
        <h1>پروژه دسته‌بندی متن</h1>
        <p>این ابزار برای شناسایی دسته‌بندی متن‌های مختلف طراحی شده است. شما می‌توانید متنی را وارد کنید و دسته‌بندی آن
            را مشاهده نمایید.</p>
    </section>

    <section class="proj">
        <form method="POST" class="form-container">
            {% csrf_token %}
            <textarea name="text" placeholder="متن خود را اینجا وارد کنید..." rows="8" required></textarea>
            <button type="submit">تشخیص دسته‌بندی</button>
        </form>
        <div class="result">
            {% if result %}
                <h2>دسته‌بندی متن: {{ result }}</h2>
            {% else %}
                <h2>متنی وارد کنید!!!</h2>
            {% endif %}
        </div>
    </section>
{% endblock %}