{% extends 'projects/base.html' %}
{% block content %}
    <section class="news">
        <h2>اخبار</h2>
        <div class="news-cards">
            {% for n in news %}
                <div class="news-card" onclick="location_href('{% url 'projects:news-page' n.id %}')">
                    {% if n.has_image %}
                        <img src="{{ n.image.url }}" alt="{{ n.title }}" class="news-image" loading="lazy">
                    {% endif %}
                    <div class="news-content">
                        <h3>{{ n.title }}</h3>
                        <p>{{ n.get_excerpt }}</p>
                        <a href="{% url 'projects:news-page' n.slug %}" class="news-link">ادامه مطلب</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}