{% extends 'projects/base.html' %}
{% block content %}
    {% for n in news %}
        <div class="news-card">
            <div class="news-image">
                <img src="your-image-url.jpg" alt="Latest News">
            </div>
            <div class="news-info">
                <h3>Latest News</h3>
                <p>Stay updated with the latest trends and announcements!</p>
                <a href="news-page.html" class="news-button">
                    <button>Read More</button>
                </a>
            </div>
        </div>
    {% endfor %}

{% endblock %}