{% extends 'projects/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/author.css' %}">
{% endblock %}

{% block content %}
	<section class="intro">
        <h1>پروژه شاعر</h1>
        <p>با استفاده از این ابزار اشعار مختص به خودت رو تولید کن، کافیه مصراع اول شعرتو بنویسی!</p>
    </section>

    <section class="author">
        <form method="POST" action="#" class="form-container">
            <input type="text" name="topic" placeholder="متن خود را وارد کنید..." required>
            <button type="submit">شاعر</button>
        </form>
        <div class="result">
            <h2>شعر شما:</h2>
            <p>بسی رنج بردم بدین سال سی </p>
        </div>
    </section>
{% endblock %}