{% extends 'projects/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/author.css' %}">
{% endblock %}

{% block content %}
	<section class="intro">
        <h1>پروژه شاعر</h1>
        <p>این ابزار برای تولید شعر بر اساس یک موضوع خاص طراحی شده است. شما می‌توانید موضوع یا مصراع دلخواه خود را وارد کنید تا یک شعر منحصر به فرد برای شما تولید شود.</p>
    </section>

    <section class="author">
        <form method="POST" action="#" class="form-container">
            <input type="text" name="topic" placeholder="موضوع یا مصراع دلخواه خود را وارد کنید..." required>
            <button type="submit">تولید شعر</button>
        </form>
        <div class="result">
            <h2>شعر تولید شده:</h2>
            <p>بسی رنج بردم بدین سال سی</p>
        </div>
    </section>
{% endblock %}