{% extends 'projects/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}

{% block content %}
    <section class="intro">
        <h1>پروژه شباهت معنایی</h1>
        <p>این ابزار برای محاسبه درصد شباهت معنایی دو متن طراحی شده است. شما می‌توانید دو متن وارد کنید و میزان شباهت آن
            را مشاهده نمایید، دو متن چقدر از لحاظ معنایی، از لحاظ گفتاری و ساختاری به هم شباهت دارن، این ابزار اینجاست
            تا بهتون پاسخ بده.</p>
    </section>

    <section class="proj">
        <form method="post">
            {% csrf_token %}
            <div class="form-container">
                <textarea name="text1" placeholder="متن اول را وارد کنید..." rows="6" required></textarea>
                <textarea name="text2" placeholder="متن دوم را وارد کنید..." rows="6" required></textarea>
                <button type="submit">محاسبه شباهت</button>
            </div>
        </form>
        <div class="result">
            {% if result %}
                {% if result > 0 and result <= 25 %}
                    <h2>شباهت معنایی بین این دومتن زیادی کمی طوری که انگار به دو چیز متفاوت پرداختن</h2>
                {% elif result > 25 and result <= 50 %}
                    <h2>شباهت زیادی احساس نمیشه ولی یذره به همدیگه سوق دارند</h2>
                {% elif result > 50 and result <= 75 %}
                    <h2>شباهت زیادی به همدیگه دارن، خیلی زیاد اما در معنا یه تفاوتی با هم دارن</h2>
                {% elif result > 75 and result <= 100 %}
                    <h2>شباهت این دو متن اینقدر زیاده که میتونم بگم دارن یک حرف رو با هم میزننن</h2>
                {% endif %}
                <h2>شباهت : {{ result|floatformat:2 }} درصد</h2>
            {% endif %}
        </div>
    </section>
{% endblock %}