{% extends 'projects/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
{% endblock %}

{% block content %}
    <section class="why-section">
        <div class="container">
            <h1>چرا ما اینجا هستیم؟</h1>
            <p>در دنیای امروز، مشکلات پیچیده‌ای وجود دارد که برای حل آن‌ها نیاز به ابزارها و سیستم‌های جدید داریم. این
                پروژه با هدف حل این مشکلات و ساده‌تر کردن فرآیندهای مختلف به وجود آمده است.</p>
            <p>هدف ما این است که از فناوری‌های نوین برای ایجاد راه‌حل‌هایی سریع، مقیاس‌پذیر و کاربرپسند استفاده کنیم تا
                بتوانیم به بهبود کیفیت زندگی و فرآیندهای تجاری کمک کنیم.</p>

            <div class="why-reasons">
                <h2>دلایل و اهداف پروژه:</h2>
                <div class="reason-card">
                    <i class="fas fa-lightbulb"></i>
                    <h3>نوآوری و ابداع</h3>
                    <p>این پروژه برای ارائه راه‌حل‌های نوآورانه در زمینه‌های مختلف فناوری ایجاد شده است. ما به دنبال
                        تغییراتی هستیم که باعث رشد سریع‌تر و کارآمدتر شوند.</p>
                </div>
                <div class="reason-card">
                    <i class="fas fa-users"></i>
                    <h3>پاسخگویی به نیازهای کاربران</h3>
                    <p>ما به دنبال ارائه سرویس‌هایی هستیم که واقعاً به نیازهای کاربران پاسخ دهند و تجربه‌ای راحت و ساده
                        فراهم کنند.</p>
                </div>
                <div class="reason-card">
                    <i class="fas fa-chart-line"></i>
                    <h3>افزایش بهره‌وری</h3>
                    <p>هدف اصلی ما ایجاد ابزارهایی است که باعث افزایش بهره‌وری در صنایع مختلف شده و فرآیندهای زمان‌بر را
                        خودکار و بهینه سازد.</p>
                </div>
                <div class="reason-card">
                    <i class="fa-solid fa-mug-hot"></i>
                    <h3>حل مسائل</h3>
                    <p>یکی از اهداف اصلی این بود که به شما ثابت کنیم تمامی مسائل دنیای تکنولوژی با علم داده و یادگیری
                        ماشین قابلیت حل دارند.</p>
                </div>
            </div>
            <div class="cta">
                <h2>تمایل به دیدن قدرت علم ماشین رو داری؟</h2>
                <p>شروع کنید و تجربه جدیدی را با ما داشته باشید. ما به دنبال افرادی هستیم که به آینده فناوری علاقه
                    دارند.</p>
                <a href="{% url 'index' %}" class="cta-button">پروژه ها</a>
            </div>
        </div>
    </section>
{% endblock %}